body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
}

table {
    cursor: pointer; 
}

.nav-link {
    color: rgba(var(--bs-link-color-rgb)); 
}

#gameArea {
    border: 2px solid white;
    background-image: url('../images/background.jpg');
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.bullet {
    position: absolute;
    width: 5px;
    height: 10px;
    background-color: red;
    z-index: 5;
}

.enemy {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: gray;
    z-index: 5;
}
