body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#gameArea {
    border: 2px solid white;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1200px;
    height: 800px;
    position: relative;
    overflow: hidden;
}

#player {
    position: absolute;
    bottom: 10px;
    left: 50%; /* Center the player */
    transform: translateX(-50%);
    width: 50px;
}

.bullet {
    position: absolute;
    width: 5px;
    height: 10px;
    background-color: red;
    z-index: 5;
}

.enemy {
    position: absolute;
    width: 100px;  /* Increase the size of meteors */
    height: 100px; /* Increase the size of meteors */
}

.enemySpaceship {
    position: absolute;
    width: 60px;
    height: 60px;
}

.enemyBullet {
    position: absolute;
    width: 10px;  /* Make enemy bullets larger */
    height: 15px; /* Make enemy bullets larger */
    background-color: yellow;
    z-index: 5;
}

#score {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 20px;
}

#health {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 20px;
}
